/template/node_modules
/template/dist
/template/package-lock.json
/template/pnpm-lock.yaml
/template/tsconfig.app.tsbuildinfo
/template/public/search-index-*.json
/template/public/llm*.txt
/template/src/generated/
